html, body {
  margin: 0;
  padding: 0;
  background-color: #91C7EB;
}
canvas {
  display: block;
  position: relative;
  border-radius: 25px;
  outline: 2px solid black;
  margin-top: 10vh;
  margin-left: 20vw;
}

h1{
  font-family: "EB Ackerhof", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  margin-top: 2vh;
  margin-left: 3vw;
}

#canv-buttons{
  display: flex;
}

#button-div{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 23vh;
}

.button-style{
  font-family: "EB Ackerhof", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  background-color: #91C7EB;
  border: 0px;
}

img {
  width: 5vw;
}

#save-div{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 3vw;
  margin-top: 2vh;
}